<div class="container">
  <div class="row">

    <div class="col-8">
      <div class="p-3 mt-5 shadow mb-5 bg-white rounded ">
        <h3 class="fw-bold text-capitalize"><%=@event.title%></h3>
        <p class="lead"><%=@event.description%></p>
        <small class="fst-italics"><%=@event.schedule%></small>
        <p><%=@event.location%></p>        
      </div> 
      <div class="attendance my-2 border-top mx-4">
        <%= display_host_info(@event) %>
        <%= display_going_button(@event) %>
        <%= display_going_msg(@event) %>
      </div>   
    </div>

    <div class="col-4">
      <div class="p-3 mt-5 shadow mb-5 bg-white rounded">
        <h3 class="fw-bold text-capitalize p-2">Attendees</h3>

        <ul class="list-group">
          <% @event.attendees.each do |attendee| %>
            <li class="list-group-item"><%= attendee.username %></li>
          <%end%>
      </ul>
      </div>
    </div>
  </div>
</div>